{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Przepis</legend>

                <!-- Formularz title z wyświetlaniem błędów-->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label",id="textfield") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid", id="textfield") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg", id="textfield") }}
                    {% endif %}
                </div>

                <!-- Formularz password z wyświetlaniem błędów-->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <p>Składniki</p>
                    <select multiple name="ingredients">
                        {% for ing in ingredients %}
                            <option value="{{ing.name}}">{{ing.name}}</option>
                        {% endfor %}
                    </select>
                    <p><small>Hold Ctr to choose many ingredients</small></p>
                </div>



            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}