{% extends "layout.html" %}
{% block content %}
    <!-- Lista składników -->
    <div class="col-md-4 ">
          <div class="content-section hidden2">
            <h4>Składniki</h4>
              <ul class="list-group ">
                {% for ingredient in receipe.ingredients %}
                    <li class="list-group-item list-group-item-light ">{{ingredient.name}}</li>
                {% endfor %}
          </div>
    </div>
    <!-- Treść posta  -->
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('account',user_id=receipe.author.id)}}">{{ receipe.author.username }}</a>
              <small class="text-muted">{{ receipe.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2 class="article-title">{{ receipe.title }}</h2>
            <p class="article-content">{{ receipe.content }}</p>
          </div>
        </article>
    <form action="{{url_for('add_comment', receipe_id=receipe.id)}}">
        <button type="submit">Dodaj komentarz</button>
    </form>
    <!-- Komentarze -->
    {% for comment in receipe.comments %}
        <div class="list-group-item list-group-item-light>
            <a href="{{url_for('account',user_id=receipe.author.id)}}">{{comment.author.username}}</a>
            <p>{{comment.content}}</p>
            <small><p>{{comment.date_posted.strftime('%Y-%m-%d')}}</p></small>
        </div>
    {% endfor %}
{% endblock content %}